@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject ToDoListProgram.Service.UserService UserService

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<div class="login-container">
    <div class="form-group mb-3">
        <label>Username:</label>
        <input @bind="username" class="form-control" /><br />

        <label>Password:</label>
        <input @bind="password" type="password" class="form-control" /><br />

        <div class="d-flex align-items-center">
            <button class="btn btn-primary" @onclick="HandleLogin">Login</button>
            <a href="/register" class="ms-auto">Register here</a>
        </div>
    </div>
// error handle
    @if (!string.IsNullOrEmpty(message))
    {
        <p class="text-danger mt-2">@message</p>
    }
</div>

@code {
    private string username = "";
    private string password = "";
    private string message = "";

    void HandleLogin()
    {
        if (UserService.Login(username, password))
        {
            // detect whether it is a user or an admin
            if (UserService.IsAdmin())
            {
                // for admin
                Nav.NavigateTo("/admin");
            }
            else
            {
                // for user
                Nav.NavigateTo("/tasks");
            }
        }
        else
        {
            message = "Invalid username or password.";
        }
    }
}

<style>
.login-container {
    max-width: 300px;
    margin: 100px auto;
}
</style>
